<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>
	
	<div id="content">
		<h1>Hey, I'm Aiz</h1>
		<p>ようこそ、プログラミングの世界へ</p>
		<h3>Github</h3>
		<a href="https://github.com/aizwellenstan">https://github.com/aizwellenstan </a>
		<br><br><br><br><br><br><br>
		<h3>日本語のサイトできる</h3>
		<a href="https://saramichan.000webhostapp.com">https://saramichan.000webhostapp.com</a>
		<h3>開発日記</h3>
		<a href="http://codingcommunity.000webhostapp.com">http://codingcommunity.000webhostapp.com</a>
		<h3>今日の天気</h3>
		<a href='http://aizweather.000webhostapp.com'>http://aizweather.000webhostapp.com</a>
		<h3>Vue Blog</h3>
		<a href="http://vtuber.herokuapp.com">http://vtuber.herokuapp.com</a>
		<h3>いつから</h3>
		<a href="http://itsukara.herokuapp.com">http://itsukara.herokuapp.com</a>
	</div>
</div>